In [1]:
import pandas as pd
import numpy as np

This is an exploratory data analysis and cleaning of the droughts dataset

In [20]:
DATASET_NAME = 'droughts'
DATASET_PATH = DATASET_NAME + '.csv'
TYPES = []
YEAR_BOUND = 2000
DTYPES = {}

In [3]:
raw_df = pd.read_csv(DATASET_PATH, names=FIELDS, dtype=DTYPES)

NameError: name 'DTYPES' is not defined

In [8]:
df = pd.read_csv(DATASET_PATH)

In [9]:
df.head()

,fips,county,state,none,d0,d1,d2,d3,d4,valid_start,valid_end
0,2013,Aleutians East Borough,AK,100,0,0,0,0,0,2017-12-26,2018-01-01
1,2013,Aleutians East Borough,AK,100,0,0,0,0,0,2017-12-19,2017-12-25
2,2013,Aleutians East Borough,AK,100,0,0,0,0,0,2017-12-12,2017-12-18
3,2013,Aleutians East Borough,AK,100,0,0,0,0,0,2017-12-05,2017-12-11
4,2013,Aleutians East Borough,AK,100,0,0,0,0,0,2017-11-28,2017-12-04

In [38]:
def preprocess_droughts(dataset_name='droughts', year_bound=2000):
    dataset_path = dataset_name + '.csv'
    df = pd.read_csv(dataset_path)
    valid_start = list(df['valid_start'])
    valid_start = list(map(lambda x: int(x[0:4]), valid_start))
    df['valid_start'] = valid_start
    valid_end = list(df['valid_end'])
    valid_end = list(map(lambda x: int(x[0:4]), valid_end))
    df['valid_end'] = valid_end
    valid_dates = df['valid_start'] >= year_bound
    df = df[valid_dates]
    df.to_csv(dataset_name + '_processed.csv', index=False)
    df['year'] = list(df['valid_start'])
    return df

In [39]:
df = analyze_droughts('droughts', 2017)
df.head()

,fips,county,state,none,d0,d1,d2,d3,d4,valid_start,valid_end,year
0,2013,Aleutians East Borough,AK,100,0,0,0,0,0,2017,2018,2017
1,2013,Aleutians East Borough,AK,100,0,0,0,0,0,2017,2017,2017
2,2013,Aleutians East Borough,AK,100,0,0,0,0,0,2017,2017,2017
3,2013,Aleutians East Borough,AK,100,0,0,0,0,0,2017,2017,2017
4,2013,Aleutians East Borough,AK,100,0,0,0,0,0,2017,2017,2017

In [28]:
df.head()

AttributeError: 'NoneType' object has no attribute 'head'